footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  padding: 20px 8vw;
  padding-top: 80px;
}
footer .ft_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.ft_wrapper :where(.ft_left, .ft_right, .ft_center) {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
}
footer h2 {
  color: white;
}
footer .ft_social-icon img {
  width: 40px;
  margin-right: 15px;
}
footer hr {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background: rgb(185, 184, 184);
}
