@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Outfit", serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1050px) {
  .app {
    width: 100%;
    padding: 0px 15px;
  }
}
